@import "tailwindcss";
html,body{
    font-family: sans-serif;
}

.border-radius-left{
    border-radius:10px 0px 0px 10px; ;
}

.border-radius-right{
    border-radius: 0px 10px 10px 0px;
}

@keyframes blast {
  0% {
    transform: translate(0, 0) scale(0.2);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: var(--end-transform);
    opacity: 1;
  }
}

.social-icons {
  animation: blast 0.8s ease-out forwards;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
